<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_HOME" value="/log"/>
    <conversionRule conversionWord="ipandhostname" converterClass="com.vonchange.common.batch.IPConvert"/>
    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <springProperty scope="context" name="appDev" source="spring.profiles.active"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss SSS}|${appDev}|${appName}|%-5level|%ipandhostname|[%thread]| %logger{50}| %msg%n
            </pattern>
        </encoder>
    </appender>
    <springProfile name="local">
        <logger name="org.springframework.web.client" level="info" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>
        <logger name="com.vonchange" level="info" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>
        <root level="info">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="h2">
        <logger name="org.springframework.web.client" level="info" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>
        <logger name="com.vonchange" level="debug" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>
        <root level="info">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
    <springProfile name="prod">
        <root level="info">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="aliyun"/>
        </root>
    </springProfile>
</configuration>

